[Desktop Entry]
Name=Mirror Switching Tool
Comment=Mirror Switching Tool for Deepin
Exec=gksu mirror-switching-tool
Icon=deepin-logo
Terminal=false
X-MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=Application;Utility;
StartupNotify=true
